<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css" rel="stylesheet">
	<title>千葉市ごみの日カレンダー</title>
</head>
<body>
	<h1>千葉市ごみの日カレンダー</h1>
	
	<form action="#" method="get">
		<label for="ward">区を選択：</label>
		<select id="ward" name="ward">
			<option value="">-- 選択してください --</option>
			<option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
		</select>
		<label for="town">町丁を選択：</label>
		<select id="town" name="town">
			<option value="">-- 選択してください --</option>
		</select>
		
		<button type="submit">カレンダーを表示</button>
	</form>
	<div id="calendar" style="margin-top: 30px;"></div>

	<script src="/js/ward-town.js"></script>
	<script src="/js/calendar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js"></script>
</body>
</html>