<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css" rel="stylesheet">
	<title>千葉市ごみの日カレンダー</title>
</head>
<body>
	<h1>千葉市ごみの日カレンダー</h1>
	
	<div class="search">
		<input type="text" id="searchInput" placeholder="品目を入力">
		<button type="button" id="searchButton">検索</button>
		<div id="results"></div>
	</div>
	
	<form action="#" method="get" class="select">
		<label for="ward" class="label">区を選択：</label>
		<select id="ward" name="ward">
			<option value="">-- 選択してください --</option>
			<option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
		</select>
		<label for="town" class="label">町丁を選択：</label>
		<select id="town" name="town">
			<option value="">-- 選択してください --</option>
		</select>
		
		<button type="submit" id="showCalendar">カレンダーを表示</button>
	</form>
	
	<div th:if="${selectedWard != null} and ${selectedTown != null}" class="area">
		選択中の地域：<span th:text="${selectedWard + ' ' + selectedTown}" class="town_name"></span>
	</div>
	<div id="calendar"></div>

	<script src="/js/ward-town.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/calendar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js"></script>
</body>
</html>