<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>千葉市ごみの日カレンダー</title>
</head>
<body>
	<h1>千葉市ごみの日カレンダー</h1>
	
	<form th:object="${wardForm}" action="#" method="get">
		<label for="ward">区を選択：</label>
		<select id="ward" name="ward" th:field="*{ward}">
			<option value="">-- 選択してください --</option>
			<option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
		</select>
		<label for="town">町丁を選択：</label>
		<select id="town" name="town" th:field="*{town}">
			<option value="">-- 選択してください --</option>
			<option th:each="town : ${towns}" th:value="${town.id}" th:text="${town.name}"></option>
		</select>
		
		<button type="submit">カレンダーを表示</button>
	</form>

</body>
</html>